<% provide(:title, 'About Us') %>

<div class="center hero-unit">

  <h1>Generic Company About Page</h1></br>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus est quam, tempor id hendrerit convallis, vestibulum et lectus. Sed laoreet congue egestas. Phasellus lobortis elit in ligula dictum eu tincidunt sapien fringilla. Nam vitae erat odio. Praesent faucibus sapien justo. Sed convallis facilisis leo quis vehicula. In hac habitasse platea dictumst. Mauris sit amet neque lorem. Suspendisse tempus euismod vulputate. Vivamus viverra nisl ut tellus vestibulum sagittis. Nulla libero felis, bibendum nec tristique a, suscipit a tortor. Aenean interdum ultricies vestibulum. Phasellus ut dolor turpis. Vestibulum viverra, purus vitae sagittis interdum, justo dolor rutrum dui, nec blandit sapien lorem at elit. Phasellus sagittis, diam vel sagittis fringilla, augue erat fringilla massa, nec lobortis tortor erat sed velit.</p>

</div>
