<div class="row-fluid">
  <div class="well page-header center">
    <h1>
      Lorem Ipsum</br>
      <small>
        Donec rhoncus vestibulum sapien non ornare. Nulla aliquam quam eu mauris iaculis lacinia. Proin cursus volutpat ipsum eget egestas. Quisque leo orci, fringilla vitae ornare at, porttitor id ipsum. Cras pharetra, arcu sed fermentum ultricies, purus elit mollis turpis, at sodales nulla tellus sed quam. Donec at odio quis leo.</br>
        <%= link_to "Sign Up!", '#', class: "btn btn-primary" %>
      </small>
    </h1>
  </div>
</div>