
<footer class="footer">
  <small>
    <a href="#">Mini Site Name</a> by Author Name
  </small>

  <nav>
    <ul>
      <li><%= link_to "About",   about_path   %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
